.section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; /* Navbar space */
  background-color: #f0f2f5;
}

.content {
  width: 100%;
  max-width: 1200px;
  padding: 4rem 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: 700;
}

.description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}